.control-btns {
    display:grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items:center;
    
}

.next-btn {
    font: {
        size:1rem;
        font-weight:700;
    }
    padding:.8em 1.7em;
    color:#fff;
    border:none;
    border-radius:5px;
    background-color:$next-step-btn;
    cursor:pointer;
    
    &:hover {
        opacity:.9;
    }
}

.go-back-btn {
    visibility: hidden;
    border:none;
    background:transparent;
    cursor:pointer;
    color:#9699ab;
    transition: .15s linear;
    font: {
        size:1.05rem;
        weight:700;
    }

    &:hover {
        color:$next-step-btn;
    }
}