.current-step {
    width:50%;
}

.steps {
    padding-top:40px;
}

.step-one {
    display:none;
}

.step-heading {
    margin-bottom:40px;
    h1 {
        font-weight:700;
        color: $next-step-btn;
        margin-bottom:10px;
    }

    h3 {
        font: {
            weight:400;
            size:1rem;
        }
        color:#9699ab;
    }
}

.item {
    display:flex;
    flex-direction: column;
    gap:8px;
    margin-bottom:25px;

    & .label {
        color:$next-step-btn;
        font-weight:700;
        cursor:pointer;
    }

    & input {
        font: {
            size:1.05rem;
            weight:500;
        }
        margin-left:6px;
        padding:15px;
        border:none;
        outline:1px solid #9699ab;
        border-radius:5px;
        color:$next-step-btn;

        &:focus {
            outline:1px solid $checkbox-background;
        }
    }
}