.step-five {
    height:100%;
    display:none;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    row-gap:20px;
}

.thank-you {
    color:$next-step-btn;
    font-size:1.8rem;
}

.thank-you-message {
    line-height:25px;
    font-size:.98rem;
    text-align:center;
    color:#5a5a5a;
}