*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  src: url("../fonts/Ubuntu-Medium.ttf");
  src: url("../fonts/Ubuntu-Regular.ttf");
}
body {
  font-family: "Ubuntu";
}

.container {
  background-color: hsl(217, 100%, 97%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 95px 0;
}

.app {
  display: flex;
  gap: 80px;
  background-color: #fff;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
}

.steps-tracker {
  background-image: url("../images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  padding: 50px 30px 0 30px;
  display: flex;
  flex-direction: column;
  width: 33%;
  gap: 40px;
}

.step {
  display: flex;
  gap: 15px;
}
.step h2 {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

.step-order {
  border: 1px solid #fff;
  padding: 10px 13px;
  border-radius: 50px;
  transition: 0.15s linear;
}
.step-order:hover {
  background-color: #bfe2fd;
  border-color: #bfe2fd;
  color: black;
}

.step .active-step {
  background-color: #bfe2fd;
  border-color: #bfe2fd;
  color: black;
}

.step-number {
  display: block;
  font-weight: 500;
  color: #9699ab;
  margin-bottom: 5px;
}

.current-step {
  width: 50%;
}

.steps {
  padding-top: 40px;
}

.step-one {
  display: block;
}

.step-heading {
  margin-bottom: 40px;
}
.step-heading h1 {
  font-weight: 700;
  color: #02295a;
  margin-bottom: 10px;
}
.step-heading h3 {
  font-weight: 400;
  font-size: 1rem;
  color: #9699ab;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}
.item .label {
  color: #02295a;
  font-weight: 700;
  cursor: pointer;
}
.item input {
  font-size: 1.05rem;
  font-weight: 500;
  margin-left: 6px;
  padding: 15px;
  border: none;
  outline: 1px solid #9699ab;
  border-radius: 5px;
  color: #02295a;
}
.item input:focus {
  outline: 1px solid #473dff;
}

.control-btns {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
}

.next-btn {
  font-size: 1rem;
  font-font-weight: 700;
  padding: 0.8em 1.7em;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #02295a;
  cursor: pointer;
}
.next-btn:hover {
  opacity: 0.9;
}

.go-back-btn {
  visibility: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #9699ab;
  transition: 0.15s linear;
  font-size: 1.05rem;
  font-weight: 700;
}
.go-back-btn:hover {
  color: #02295a;
}

.step-two {
  display: none;
}

.billing-cards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.card {
  border: 1px solid #dadada;
  width: 33%;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.12s linear;
}
.card:hover {
  border-color: #473dff;
  background: rgba(169, 165, 253, 0.1019607843);
}

.card-icon {
  margin-bottom: 40px;
}

.plan-type {
  margin-bottom: 5px;
  color: #02295a;
  font-size: 1.05rem;
}

.cost {
  font-weight: 500;
  color: #9699ab;
}

.monthly-or-yearly {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f1f1f1;
  padding: 0.8em 0;
  border-radius: 8px;
}

.plan-toggle {
  width: 50px;
  height: 23px;
  background-color: #02295a;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3px;
}
.plan-toggle .plan-toggle-ball {
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.15s linear;
}

.monthly-or-yearly label {
  font-weight: 700;
  color: rgb(161, 151, 151);
  cursor: pointer;
}

.monthly-or-yearly input[type=radio] {
  display: none;
}

#monthly:checked ~ label[for=monthly] {
  color: #02295a;
}

#monthly:checked ~ .plan-toggle .plan-toggle-ball {
  translate: -80%;
}

#yearly:checked ~ label[for=yearly] {
  color: #02295a;
}

#yearly:checked ~ .plan-toggle .plan-toggle-ball {
  translate: 80%;
}

.discount {
  color: #02295a;
  margin-top: 7px;
}

.selected-card {
  border-color: #473dff;
  background: rgba(169, 165, 253, 0.1019607843);
}

.step-three {
  display: none;
}

.service-card {
  display: grid;
  grid-template-columns: 10% 78% 12%;
  align-items: center;
  border: 1px solid #dadada;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: 0.15s linear;
}
.service-card:hover {
  border-color: #473dff;
  background: rgba(169, 165, 253, 0.1019607843);
}
.service-card:last-of-type {
  margin-bottom: 50px;
}

.service-cost {
  color: #473dff;
}

.checkbox-services {
  width: 45%;
  height: 45%;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */